{% extends 'base.html.twig' %}

{% block title %}Transaction index{% endblock %}

{% block body %}
    <h1>Transaction index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>CheckoutCode</th>
                <th>CipheredCardNumber</th>
                <th>AmountInCent</th>
                <th>Installments</th>
                <th>CreatedAt</th>
                <th>AcquirerAuthorizationDataTime</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for transaction in transactions %}
            <tr>
                <td>{{ transaction.id }}</td>
                <td>{{ transaction.checkoutCode }}</td>
                <td>{{ transaction.cipheredCardNumber }}</td>
                <td>{{ transaction.amountInCent }}</td>
                <td>{{ transaction.installments }}</td>
                <td>{{ transaction.createdAt ? transaction.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ transaction.acquirerAuthorizationDataTime ? transaction.acquirerAuthorizationDataTime|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('transaction_show', {'id': transaction.id}) }}">show</a>
                    <a href="{{ path('transaction_edit', {'id': transaction.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('transaction_new') }}">Create new</a>
{% endblock %}